body {
    background-color: #76B952FF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-box {
    background-color: white;
    padding: 40px;
    margin: 400px;
    -webkit-box-shadow: -3px -3px 17px 4px rgba(0, 0, 0, 0.65);
    box-shadow: -3px -3px 17px 4px rgba(0, 0, 0, 0.65);
}

input {
    background-color: #F2F2F2FF !important;
}

.login-btn {
    background-color: #4CB24FFF;
}