body {
    background-color:#7E7E7EFF;
    display:flex;
    justify-content: center;
    height:100vh;
    align-items: center;
}
.main-box {
    background-color: white;
    padding:40px;
    margin:300px;
    width:70vh;
    height: 60vh;
}
.btn-primary {
    background-color:#16A98CFF ;
}
h6 {
    color:#80CBB5FF;
}
a {
    text-decoration: none;
}