* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: white;
}

.gmail-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* header section */
.gmail-header {
    display: flex;
    text-align: center;
    padding: 8px 12px;
    height: 61px;
    background-color: #F8FAFD;
}

.header-search {
    max-width: 600px;
    background: #E9EEF6;
    border: 1px solid black;
    border-radius: 50px;
}

/* sidebar */

.compose-btn {
    background: #C2E7FF;
    border: none ! important;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 600;
    box-shadow: ba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
    color: #202124 !important;
    text-align: center;
}

.sidebar {
    padding: 9px;
    background: #F8FAFD;
}

.compose-btn:hover {
    background: #C2E7FF;
    box-shadow: ba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);

}

ul {
    list-style: none;
    padding: 0;
}

.sidebar-nav {
    padding-left: 10px;
}

.nav-iteam {
    padding: 10px 24px 0 20px !important;
    height: 32px;
    border-radius: 0 16px 16px 0 !important;
    font-size: 16px;
    color: #202124 !important;
    margin: 2px 0;
    text-decoration: none !important;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* main content */

.main-content {
    display: flex;
    flex-direction: column;
}

.email-list {
    background:#fff;
}

.email-row {
    height: 45px;
    cursor: pointer;
}